.rectangle-block {
    background-image:url('/assets/images/rectangle.png');background-repeat:no-repeat;background-size: 100% 100%;
    padding:20px 20px 30px 20px;
}

.flex-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container > div {
    background-image: none;
    background-color: #f4f7ff;
    color: #1c1e4a;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 20px;
    margin: 15px;
    padding: 30px;
    border-radius: 8px;
    border: solid 1.3px #f4f7ff;
}

.flex-container > div > a {
    color: #1c1e4a;
}

.flex-container > div.active > a {
    color: #ffffff;
}

.flex-container > div.active {
    background-image: linear-gradient(103deg, #02aab0, #00cdac), linear-gradient(to bottom, #3a2080, #3a2080), linear-gradient(to bottom, #0054f2, #0054f2);
}

.flex-container > div > a {
    margin-top:auto;
    margin-bottom:auto;
    display:block;
}

button.btn-link {
    font-weight: 400;
    color: #1c1e4a;
    text-decoration: none;
    font-weight: 600;
}

.card-header {
    background-color: #f4f7ff;
}

