* {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif!important;
}

body {
    padding-bottom: 0px !important;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1c1e4a;
}

h1 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1px;
  color: #1c1e4a;
}

h1.header-green {
    color:#02adb0;
}

h2 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: -0.5px;
  text-align: center;
  color: #1c1e4a;
}

.bg-light {
    background-color: #ffffff !important;
}

#navbarResponsive li a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c1e4a;
  padding-left : 25px;
  padding-right : 25px;
}

#call-to-need {
  width: 200px;
  height: 45px;
  border-radius: 6px;
  border: solid 1.3px #02adb0;
}

ul #call-to-need a {
  width: 200px;
  height: 20px;
  padding-top:10px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #02adb0;
}

#navBottom > img {
    width:100%;
    max-width:100%
}

#navBottom > div{
    background-color: #f4f7ff !important;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #1c1e4a;
}

#navBottom h3 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1e4a;
}
#navBottom h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #1c1e4a;
}

#navBottom > div > div.col-lg-12 {
    border-top: solid 2px rgba(28, 30, 74, 0.3);
    margin-top:20px;
    padding-top:20px;
}

.nav-link {
    cursor:pointer;
}

#navBottom .nav-link {
    padding:0;
}

a.btn-primary {
    padding-top:20px;
    width: 220px;
    height: 60px;
    border-radius: 8px;
    border-color:#02aab0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(103deg, #02aab0, #00cdac), linear-gradient(to bottom, #3a2080, #3a2080), linear-gradient(to bottom, #0054f2, #0054f2);
}

a.btn-warning {
    padding-top:20px;
    height: 60px;
    border-radius: 8px;
    border-color:#d7283e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #d7283e;
}

a.btn-default{
    padding-top:20px;
    width: 220px;
    height: 60px;
    border-radius: 8px;
    border: solid 1.3px #02adb0;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #02adb0;
}

label, input.form-control, textarea.form-control, select.form-control {
    background-color:#f4f7ff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1e4a;
}

.rev-form-control label, .dashed-form-control label, .dashed-form-control input.form-control, .dashed-form-control select.form-control {
    background-color:white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1e4a;
}

ol {
    list-style-type : none;
    counter-reset: index;
}

ol li {
	counter-increment: index; /* on incrémente le compteur à chaque nouveau li */
	margin-top:20px;
}
ol li:before {
	content: "0" counter(index); /* on affiche le compteur */
	margin-right: 8px;
	vertical-align: top;
	font-weight: bold;
}

a span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1c1e4a;
}
a:hover {
  text-decoration:none;
}

a.section-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #02adb0;
}