
#mapContent img {
    margin-top:20px;
    width:100%;
    max-width:100%;
}

#indexSteps {
    list-style-type : none;
    padding-left:0;
    margin-top:30px;
}

#indexSteps li {
  padding-bottom:20px;
  padding-top:20px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: -0.5px;
  color: #1c1e4a;
}

#indexSteps li div {
    padding-top:8px;
}

#indexSteps li p {
    clear:both;
    background-image: url('/assets/images/oval.png');
    width: 60px;
    height: 54px;
    padding-top:8px;
    margin-right:10px;
    float:left;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.82;
    letter-spacing: -0.5px;
    text-align: center;
    color: #02adb0;
}

#indexSteps li span {
    text-decoration : underline;
}

