.tunnel div {
    margin-left:auto;margin-right:auto;
}

#tunnelBullets {
    width:730px;
}

#tunnelSteps {
    width:890px;
}

.tunnel p {
    margin-bottom: 5px;
}

.tunnel-dot-0 {
    float:left;width: 18px;height: 18px;    border: solid 5px #f4f7ff;background-color: #ffffff;;border-radius: 8px;
}
.tunnel-dot-1 {
    float:left;width: 18px;height: 18px;  background-color: #02adb0;border-radius: 8px;
}
.tunnel-separator-0 {
    float:left;width: 160px;height: 5px; border-radius: 2.5px;  background-color: #f4f7ff;margin-top:6px
}
.tunnel-separator-1 {
    float:left;width: 160px;height: 5px; border-radius: 2.5px; background-color: #02adb0;margin-top:6px
}

.tunnel-step {
    width:178px;
    float:left;
}
.tunnel-step-1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #1c1e4a;
}
.tunnel-step-0 {
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: rgba(28, 30, 74, 0.2);
}

#giftListPictos > div > div {
    float:left;margin-left:20px;margin-right:20px;
}
#giftListPictos > div > div > input[type=checkbox] {
    margin-top:15px;
}
#giftListSelect select {
  height: 60px;
  border-radius: 8px;
  background-color: #f4f7ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1c1e4a;
}
#giftListSelect > div {
    width:400px;
}

.badge {
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding:10px 20px 10px 20px;
    margin-left:10px;
}
.badge-masques {
    background-image: linear-gradient(108deg, #ff512f, #f09819);
}
.badge-lunettes {
    background-image: linear-gradient(108deg, #847af2, #5a50c8);
}
.badge-blouses {
    background-image: linear-gradient(108deg, #02B0AF, #00C4AD);
}
.badge-hydro {
    background-image: linear-gradient(108deg, #09C3F9, #308ADC);
}
.badge-gants {
    background-image: linear-gradient(108deg, #FACD64, #EEB635);
}

.form-control {
    height : auto;
    border-color:#f4f7ff;
    border-style:solid;
    border-width:1px;
    background-color : #f4f7ff;
    padding:10px;
}

.dashed-form-control {
    height : auto;
    border: dashed 1.3px #cbcbcb;
    background-color: #ffffff;
    padding:10px;
}

.rev-form-control {
    height : auto;
    border: none;
    background-color: #ffffff;
    padding:10px;
}

.input-group-text {
    border:none;
    background-color:transparent;
}

h2.warning {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.35;
    letter-spacing: -0.39px;
    color: #d7283e;
}

.rectangle-block {
    background-image:url('/assets/images/rectangle.png');background-repeat:no-repeat;background-size: 100% 100%;
    padding:20px 20px 30px 20px;
}

.rectangle2-block {
    background-image:url('/assets/images/rectangle-2.png');background-repeat:no-repeat;background-size: 100% 100%;
    padding:5px 20px 20px 20px;
    width:140px;
}

.rectangle2-block img {
    width:100px;
}

.small-block {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}